.shop-cont {
    display: flex;
    gap: 20px;
    max-width: 1200px;
    margin: 2rem auto;
    align-items: flex-start;
    padding: 0 20px;
    

}

.shop-cont main {
    flex: 3;
    position: relative;
    

}

#shop-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.clothes-card {
    border: 3px solid bisque;
    border-radius: 15px;
    padding: 1rem;
    background-color: rgb(50, 50, 50);
    box-shadow: 10px 10px 15px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, border-color 0.3s ease;
}

.clothes-card:hover {
    transform: translateY(10px);
    border-color: transparent;
}

.clothes-card img {
    width: 100%;
    object-fit: cover;
    height: 400px;
    border-bottom: 2px solid bisque;
}

.clothes-card h3 {
    margin: 0;
    font-size: 1.8rem;
    color: bisque;
}

.clothes-card p {
    flex-grow: 1;
    margin: 10px 0;
    color: bisque;
    text-transform: capitalize;
    
}

.clothes-card .price {
    font-weight: bold;
    color: bisque;
    font-size: 1.4rem;
    margin: 10px 0;
}

.add {
    background-color: bisque;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.add:hover {
    background-color: rgb(14, 121, 0);
    
    transition: 0.3s ease;

}

aside {
    flex: 1;
    border: 3px solid bisque;
    border-radius: 15px;
    padding: 1rem;
    background-color: rgb(50, 50, 50);
    color: bisque;
    height: fit-content;
    width: 50%;
    margin: auto;
}

aside h2 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

aside ul {
    list-style: none;
    padding: 0;
    
}

aside li{
    border-left: 2px solid rgb(35, 35, 35);
    border-right: 2px solid rgb(35, 35, 35);
    
}

#cartItems {
    list-style: none;
    padding: 0;
}

#cartItems {
    padding: 10px;
    border-bottom: 2px solid bisque;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.3rem;

}

.btn-clear {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: bisque;
    color: rgb(35, 35, 35);
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.btn-clear:hover {
    background-color: rgb(155, 0, 0);
    color: bisque;
    transition: 0.3s ease;

}