body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(35, 35, 35);
}

header {
    background-color: bisque;
    color: black;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    border-bottom: 3px solid black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

header h1{
    font-size: 2.2rem;
    letter-spacing: 1px;
    
}

main {
    max-width: 800px;
    margin: 3rem auto;
    padding: 2rem;
    border-radius: 8px;
}


#navigation ul {
display: flex;
justify-content: center;
list-style: none;
padding: 10px;
gap: 20px;


}

#navigation a {
    color: bisque;
    text-decoration: none;
    
    border: 3px solid black;
    padding: 5px;
    background-color: black;
    border-radius: 5px;
}

#navigation a:hover {
    background-color: bisque;
    color: black;
    
    transition: 0.3s;
    
}

#navigation a:active {
    color: bisque;
    border: 3px solid black;
background-color: black;
}

#navigation a.active {
    color: black;
    border: 3px solid rgb(0, 0, 0);
    background-color: bisque;
    font-weight: bold;
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
    margin: auto;
    
}

.card h3{
font-size: 2.2rem;
text-decoration: underline;
letter-spacing: 1px;

}

.card p {
    font-size: 1.2rem;
    line-height: 1.5;
    letter-spacing: 1px;
}
.card {
    border: 3px solid bisque;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 10px 10px 15px rgb(0, 0, 0);
    background-color: rgb(35, 35, 35);
    padding: 20px;
    color: bisque;
    width: auto;
    margin: 0;
    position: relative;
    text-align: center;
    flex-direction: column;
    justify-content: center;

}

.card:hover {
    box-shadow: 15px 15px 20px rgb(0, 0, 0);
    scale: 1.05;
    transition: 0.3s;
}

#card-cont {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    width: 90%;
    margin: 2rem auto;
    

}

#card-cont a {
    text-decoration: none;
    color: bisque;
    padding: 10%;
}

.stretched::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
    z-index: 1;
}

.shop-cont {
    display: flex;
    gap: 20px;
    max-width: 1200px;
    margin: 2rem auto;
    align-items: flex-start;
    padding: 0 20px;
    

}

.shop-cont main {
    flex: 3;
    position: relative;
    

}

#shop-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.clothes-card {
    border: 3px solid bisque;
    border-radius: 15px;
    padding: 1rem;
    background-color: rgb(50, 50, 50);
    box-shadow: 10px 10px 15px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, border-color 0.3s ease;
}

.clothes-card:hover {
    transform: translateY(10px);
    border-color: transparent;
}

.clothes-card img {
    width: 100%;
    object-fit: cover;
    height: 400px;
    border-bottom: 2px solid bisque;
}

.clothes-card h3 {
    margin: 0;
    font-size: 1.8rem;
    color: bisque;
}

.clothes-card p {
    flex-grow: 1;
    margin: 10px 0;
    color: bisque;
    text-transform: capitalize;
    
}

.clothes-card .price {
    font-weight: bold;
    color: bisque;
    font-size: 1.4rem;
    margin: 10px 0;
}

.add {
    background-color: bisque;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.add:hover {
    background-color: rgb(14, 121, 0);
    
    transition: 0.3s ease;

}

aside {
    flex: 1;
    border: 3px solid bisque;
    border-radius: 15px;
    padding: 1rem;
    background-color: rgb(50, 50, 50);
    color: bisque;
    height: fit-content;
    width: 50%;
    margin: auto;
}

aside h2 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

aside ul {
    list-style: none;
    padding: 0;
    
}

aside li{
    border-left: 2px solid rgb(35, 35, 35);
    border-right: 2px solid rgb(35, 35, 35);
    
}

#cartItems {
    list-style: none;
    padding: 0;
}

#cartItems {
    padding: 10px;
    border-bottom: 2px solid bisque;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.3rem;

}

.btn-clear {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: bisque;
    color: rgb(35, 35, 35);
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.btn-clear:hover {
    background-color: rgb(155, 0, 0);
    color: bisque;
    transition: 0.3s ease;

}